[user]
	name = Darryl Brooks
	email = darrylbrooks13@gmail.com
	signingkey = 8D030383FAF9414A
[filesystem "Oracle Corporation|13-ea|/dev/disk1s1"]
	timestampResolution = 11000 nanoseconds
	minRacyThreshold = 0 nanoseconds
[core]
	excludesfile = /Users/darrylb/.gitignore_global
[commit]
	template = /Users/darrylb/.stCommitMsg
	gpgsign = true
[credential]
	helper = cache
[gpg]
	program = gpg
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
