# Term
font-style-italic=GeistMono Nerd Font Mono
theme = dark:vesper,light:Rose Pine Dawn
macos-titlebar-style = hidden
adjust-cursor-thickness = 1
desktop-notifications = true
resize-overlay = always
copy-on-select = true
unfocused-split-opacity = 0.45
macos-icon= chalkboard

# Mouse
mouse-hide-while-typing = true
mouse-scroll-multiplier = 1

# Window
window-new-tab-position = end
window-padding-balance = true
window-padding-x = 10
window-padding-y = 10
macos-non-native-fullscreen = visible-menu

# Keyboard
keybind = shift+enter=text:\n

